{% extends "logout.html" %}
{% block body %}
    {% if session.logged_in %}
        <form action="{{url_for('add_entry')}}" method="post" class="add_entry">
            <dl>
                <dt>Title:
                <dd><input type="text" size="30" name="title"></dd>
                </dt>
                <dt>Text:
                <dd><textarea name="text" rows="5" cols="40"></textarea></dd>
                <dd><input type="submit" value="share"></dd>
                </dt>
            </dl>
        </form>
    {% endif %}

    <ul class="entires">
        {% for entry in entires %}
        <li><h2>{{entry.title}}</h2>{{entry.text|safe}}</li>
        {% else %}
        <li><em>unbelieable. no entries here so far</em></li>
        {% endfor %}
    </ul>

{% endblock %}